<h1>Portfolio Items</h1>

<hr>

<h3>Quick Links</h3>

<!-- Create New Item - 2 ways -->
<a href="portfolios/new">Create New Portfolio Item via href</a>
<br/>
<%= link_to "Create New Portfolio item (via rails' link_to)", new_portfolio_path %>

<hr>

<% @portfolio_items.each do |pfolio_item| %>
  <p><%= pfolio_item.title %></p>
  <p><%= pfolio_item.subtitle %></p>
  <p><%= pfolio_item.body %></p>
  <%= image_tag pfolio_item.thumb_image || 'http://demopcr.wpindeed.com/wp-content/plugins/pcr-listing-posts/image/no-thumbnail.png' %>
<% end %>
