<h1>Show details for Portfolio Item</h1>

<hr>

<% #= @portfolio_item.inspect %>
<!-- tried to comment above with %= # , but this caused an error -->

<p><%= @portfolio_item.title %></p>
<p><%= @portfolio_item.subtitle %></p>
<p><%= @portfolio_item.body %></p>
<%= image_tag @portfolio_item.main_image || 'https://treefurniturerental.ca/wp-content/uploads/2017/05/sorry-image-not-available.jpg' %>
<p class="link">
  <%= link_to "Edit", edit_portfolio_path(@portfolio_item)  %> |
  <%= link_to "Back", portfolios_path %>
</p>